.movie-wrapper {
    width: 900px;
    padding: 0 120px;
}

.test-wide {
    display: table-cell;
    vertical-align: middle;
}

.trailer-button {
    float: right;
}

body {
    display: table;
}

.thumbnail {
    margin: 0;
}

html {
    overflow-y: hidden;
}

.thumbnail img {
    width: 100%;
    padding: 29px 9px;
}

.thumbnail > .caption {
    width: 50%;
    float: right;
}

.clear {
    clear: both;
}

.image-holder {
    position: relative;
    width: 50%;
    float: left;
}

.trailer-button {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);

}