.movie-wrapper {
    width: 650px;
    margin: 0 50px;
}

.test-wide {
    display: table-cell;
    vertical-align: middle;
}

.trailer-button {
    float: right;
}

body {
    display: table;
}

.thumbnail {
    margin: 0;
}

html {
    overflow-y: hidden;
}

.thumbnail img {
    width: 100%;
    padding: 29px 9px;
}

.thumbnail > .caption {
    width: 50%;
    float: right;
}

.clear {
    clear: both;
}

.image-holder {
    position: relative;
    width: 50%;
    float: left;
}

.trailer-button, .trailer-button:active, .trailer-button:visited {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0,0,0,0.7);
    border-color: #fff;
}

.trailer-button:hover, .trailer-button:focus {
    background-color: #000;
    border-color: #333;
}

.navbar-fixed-bottom {
    padding-top: 3em;
}