.dashboard {
    margin: 10px;
}

.list-of-movies {
    float: left;
    min-width: 250px;
}

.center-table {
    float: left;
    padding-left: 20px;
    width: 50%;
}

.movie-btn {
    float: right;
    margin-left: 9.6em;
    margin-top: 1em;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

