<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An overview about the StarWars movies.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="">
    <title>StarWars Timeline</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="../../resources/css/style.css" rel="stylesheet">

    <!-- scripts for vertical scrolling -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        var doScroll = function(e) {

            e = window.event || e;
            var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

            var widthOfOneFilm = document.getElementsByClassName("row")[0].clientWidth;
            window.scrollBy(-delta * widthOfOneFilm, 0);
            e.preventDefault();
        };

        if (window.addEventListener) {
            window.addEventListener("mousewheel", doScroll, false);
            window.addEventListener("DOMMouseScroll", doScroll, false);
        } else {
            window.attachEvent("onmousewheel", doScroll);
        }
    </script>

    <!-- script for aligning the timeline elements vertically centered -->
    <script type="text/javascript">
        $( document ).ready(function() {
            resize();
        });
        function resize()
        {
            var navbarHeight = document.getElementsByClassName("navbar")[0].clientHeight;
            document.getElementsByClassName("test-wide")[0].style.height = (window.innerHeight - navbarHeight) + "px";

            document.getElementsByClassName("timeline")[0].style.paddingTop = navbarHeight + "px";
        }
        window.onresize = function() {
            resize();
        };
    </script>

    <!--
        source: http://www.tutorialrepublic.com/codelab.php?topic=faq&file=play-youtube-video-in-bootstrap-modal
        TODO: needs to be adjusted to handle multiple videos!
    -->
    <script type="text/javascript">
        $(document).ready(function(){
            /* Get iframe src attribute value i.e. YouTube video url
             and store it in a variable */
            var url = $("#trailer-1").attr('src');

            /* Assign empty url value to the iframe src attribute when
             modal hide, which stop the video playing */
            var myModal = $("#myModal");
            myModal.on('hide.bs.modal', function(){
                $("#trailer-1").attr('src', '');
            });

            /* Assign the initially stored url back to the iframe src
             attribute when modal is displayed again */
            myModal.on('show.bs.modal', function(){
                $("#trailer-1").attr('src', url);
            });
        });
    </script>
</head>
<body>

<div class="header-bar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="#">StarWars Timeline</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" type="button" class="btn btn-link navbar-btn pull-right">Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="timeline">
    <div class="row test-wide">
        <div class="col-sm-6 col-md-4 movie-wrapper">
            <div class="thumbnail">
                <div class="image-holder">
                    <img src="../../resources/movie1.jpg" alt="...">
                    <button type="button" class="btn btn-primary trailer-button" data-toggle="modal" data-target="#myModal">
                        Trailer
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Youtube Trailer: </h4>
                                </div>
                                <div class="modal-body">
                                    <iframe id="trailer-2" width="560" height="315" src="https://www.youtube.com/embed/sGbxmsDFVnE" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption">
                    <h3>The Force Awakens</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Rating</td>
                                <td>7,5</td>
                            </tr>
                            <tr>
                                <td>Release</td>
                                <td>25.54.1998</td>
                            </tr>
                            <tr>
                                <td>Length</td>
                                <td>2:56:34</td>
                            </tr>
                            <tr>
                                <td>Director</td>
                                <td>George Lucas</td>
                            </tr>
                        </table>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="row test-wide">
        <div class="col-sm-6 col-md-4 movie-wrapper">
            <div class="thumbnail">
                <div class="image-holder">
                    <img src="../../resources/movie1.jpg" alt="...">
                    <button type="button" class="btn btn-primary trailer-button" data-toggle="modal" data-target="#myModal">
                        Trailer
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Youtube Trailer: </h4>
                                </div>
                                <div class="modal-body">
                                    <iframe id="trailer-1" width="560" height="315" src="https://www.youtube.com/embed/sGbxmsDFVnE" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption">
                    <h3>The Force Awakens</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Rating</td>
                                <td>7,5</td>
                            </tr>
                            <tr>
                                <td>Release</td>
                                <td>25.54.1998</td>
                            </tr>
                            <tr>
                                <td>Length</td>
                                <td>2:56:34</td>
                            </tr>
                            <tr>
                                <td>Director</td>
                                <td>George Lucas</td>
                            </tr>
                        </table>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="row test-wide">
        <div class="col-sm-6 col-md-4 movie-wrapper">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="row test-wide">
        <div class="col-sm-6 col-md-4 movie-wrapper">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
</body>

</html>                                        